body {
    margin:0px;
    background-color: rgb(250,250,250);
}

a {
    all: unset;
}

@media (max-width: 550px){
    #navbar-title{
        font-weight: 500;
    }
    #sort-actions {
        width: 95%;
    }
    #sort-actions {
        flex-direction: column;
    }
    #sort-buttons {
        margin-bottom: 20px;
    }

}
